@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg"); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-color: grey;
}

.container{
height: auto;
align-content: center;
}
.container2{
    height: auto;
    align-content: center;
    margin-top: 5%;
}
.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #665e467c;
border: black 5px double;
}

.card-header h3{
    color: white;
    font-size: 30px;
    align-content: center;
    align-items: center;
}
    
.card-body{
    padding: 15px;
    background-color: rgb(255, 255, 255);
}
    
.social_icon{
    position: absolute;
    right: 5px;
    top: 5px;
}

.social_icon span{
font-size: 40px;
margin-left: 10px;
margin-top: 5px;
color: #FFC312;

}

.social_icon span:hover{
color: rgb(0, 0, 0);
cursor: pointer;
border: black 1px solid;
}

.form-control{
    border: black 1px solid;
}

.input-group-prepend span{
width: 40px;
background-color: #FFC312;
color: black;
border: black 1px solid;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: rgb(0, 0, 0);
padding-left: 5px;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
border: black 1px solid;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: rgb(0, 0, 0);
margin-bottom: 0px;
}

.links a{
margin-left: 4px;
}

