.mb-4, .card{

    margin-left: 30px;
    margin-right: 30px;
    align-content:center;
    
}

.text-muted{

 text-align: right;
 margin-right: 5px;

}

.btn-modify{
    padding-top: 10px;
    margin: right 0%;;
}

.container-flex.px4{

    margin-top: 100px;
    margin-right: 10px;
}