        .body{
        margin: 15px;
        padding: 40px;
        background-color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
        height: auto;
        font-family: 'Numans', sans-serif;
        border: black 2px solid;
        border-radius: 5px;
        }

        .container-body{
                margin: 40px;
                padding: 15px;
                background-color: #665e467c;
                background-size: cover;
                background-repeat: no-repeat;
                align-content: center;
                height: auto;
                font-family: 'Numans', sans-serif;
                border: black 2px solid;
                border-radius: 5px;
        }
        
        .container-title{
                padding: 10px;
                text-align: center;
        }
        
        .container-table{
            height: auto;
            align-content: center;
            margin-top: 5%;
            background-color: whitesmoke;
        }

        .buscador{
             padding-right:10px;
             text-align: right;
                 
        }

        .table{
               background-color: rgba(255, 255, 255, 0.815); 
               
                margin-top: auto;
                margin-bottom: auto;
                text-align-last: justify;
                text-align: center ;
                padding: 1px;
                
                
                border: black 2px solid;
                
        
        }
        
        .renglon{
                align-items: center;  
        }

        .modificadores{
                padding: 15px;
                border-spacing: 10px;
                text-align: left;
                white-space: pre-line;
        }
        
        .boton{
                padding: 20px;
        }